<div class="container_big_card">
    <div class="big_card_photo">
        <img 
            src="https://images.thedirect.com/media/article_full/iron-man-tony.jpg" 
            alt=""
            height="200px"
        >
    </div>
    <div class="big_card_title">
        <h1><a href="#">Nova versão do Angular</a></h1>
    </div>
    <div class="big_card_description">
        <p>
            <a href="#">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" 
                by Cicero are also reproduced in their exact original form, accompanied by English 
                versions from the 1914 translation by H. Rackham.
            </a>
        </p>
    </div>
</div>
